Repository mukdaejang/foodking, pull requests merged in 2022-03, with the labels that each got.

#17 feat: setting react router #15
  package-lock.json
  package.json
  src/App.tsx
  src/Router.tsx
  src/components/Header/index.tsx
  src/components/MatjibList/Tags/Tag.tsx
  src/index.tsx
  src/pages/MatjibList/index.tsx
  src/pages/NotFound/NotFound.css
  src/pages/NotFound/index.tsx
  src/pages/index.ts
  tsconfig.json
Labels: enhancement

#46 feat: best restaurants page
  src/Router.tsx
  src/assets/icons/arrow-down.svg
  src/assets/icons/star.svg
  src/assets/icons/un-star.svg
  src/components/BestRestaurantItem/bestRestaurantItem.styled.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/LinkCopyButton/index.tsx
  src/components/LinkCopyButton/linkCopyButton.styled.tsx
  src/components/MoreButton/index.tsx
  src/components/MoreButton/moreButton.styled.tsx
  src/components/index.ts
  src/pages/Best5/index.tsx
  src/pages/index.ts
  src/styles/emotion.d.ts
  src/styles/theme.ts
Labels: component, style, markup

#49 change emotion styled
  src/components/BestRestaurantItem/bestRestaurantItem.styled.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/LinkCopyButton/linkCopyButton.styled.tsx
  src/components/MoreButton/index.tsx
  src/components/MoreButton/moreButton.styled.tsx
  src/components/RestaurantItem/index.tsx
  src/components/RestaurantItem/restaurant.styled.tsx
  src/components/carousel/carousel.styled.tsx
  src/components/carousel/index.tsx
  src/components/category/category.styled.tsx
  src/components/category/index.tsx
  src/components/restaurants/index.tsx
  src/components/restaurants/restaurants.styled.tsx
  src/styles/emotion.d.ts
  src/styles/theme.ts
Labels: style

#50 firebase social login & make modal
  public/index.html
  src/components/Modal/Modal.styled.tsx
  src/components/Modal/ModalPortal.tsx
  src/components/Modal/SocialLogin.tsx
  src/components/Modal/index.tsx
  src/firebase.tsx
  src/store/auth/auth-actions.ts
Labels: auth, component, style, markup, firebase

#54 feat: Detail page/Review markup and styling
  src/components/Carousel/carousel.styled.tsx
  src/components/Carousel/index.tsx
  src/components/Category/category.styled.tsx
  src/components/Category/index.tsx
  src/components/Restaurants/index.tsx
  src/components/Restaurants/restaurants.styled.tsx
  src/components/Reviews/Review.styled.tsx
  src/components/Reviews/Review.tsx
  src/components/Reviews/index.tsx
  src/components/Search/SearchBox.styled.tsx
  src/components/Search/SearchKeyword.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
  src/components/index.ts
  src/pages/MatjibList/index.tsx
  src/styles/global.tsx
Labels: style, refactor, markup

#55 Done best restaurant page
  src/components/BestRestaurantItem/bestRestaurantItem.styled.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/CategoryItem/index.tsx
  src/components/LinkCopyButton/index.tsx
  src/components/LinkCopyButton/linkCopyButton.styled.tsx
  src/components/MoreButton/moreButton.styled.tsx
  src/components/style/index.tsx
  src/pages/Best5/index.tsx
  src/styles/emotion.d.ts
  src/styles/theme.ts
Labels: feature, style, markup

#56 Header, Modal 컴포넌트 css 작성 방식 수정 (nest방식)
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/Modal/Modal.styled.tsx
  src/components/Modal/index.tsx
Labels: style

#64 [헤더] 프로필 서브메뉴 구현 & 데이터 렌더링
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/Modal/Modal.styled.tsx
  src/components/Modal/ModalPortal.tsx
  src/components/Modal/index.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/ProfileIcon/index.tsx
  src/components/index.ts
Labels: feature, database, style

#66 헤더 프로필 컴포넌트
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/ProfileIcon/index.tsx
  src/styles/emotion.d.ts
  src/styles/theme.ts
Labels: feature, database, markup

#68 feat: download spoqa han sans font and apply in styles/global.tsx
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.eot
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.ttf
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff2
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.eot
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.ttf
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.woff
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.woff2
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.eot
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.ttf
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff2
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.eot
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.ttf
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff2
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Thin.eot
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Thin.ttf
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Thin.woff
  src/styles/fonts/SpoqaHanSans/SpoqaHanSansNeo-Thin.woff2
  src/styles/global.tsx
Labels: style, configuration

#73 리뷰 작성 페이지 마크업 및 스타일
  src/Router.tsx
  src/assets/icons/face-icon.png
  src/components/Button/Button.styled.tsx
  src/components/Button/index.tsx
  src/components/Category/category.styled.tsx
  src/components/Category/index.tsx
  src/components/LinkCopyButton/index.tsx
  src/components/ReviewWrite/ReviewScore.tsx
  src/components/ReviewWrite/index.tsx
  src/components/ReviewWrite/reviewWrite.styled.tsx
  src/components/index.ts
  src/components/style/index.tsx
  src/pages/Best5/index.tsx
  src/pages/ReviewWritePage/index.tsx
  src/pages/index.ts
Labels: feature, component, style, markup

#76 Firestore 연동 & 데이터 가져오기
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/index.tsx
  src/firebase.ts
Labels: database, firebase

#78 feat: DetailPage/RestaurantInfo markup and styling
  src/Router.tsx
  src/components/RestaurantInfo/RestaurantInfo.styled.tsx
  src/components/RestaurantInfo/index.tsx
  src/components/index.ts
  src/pages/MatjibList/index.tsx
  src/pages/Restaurants/index.tsx
  src/pages/index.ts
  tsconfig.json
Labels: component, style, markup

#79 firebase 폴더 구조화
  src/components/ProfileIcon/index.tsx
  src/firebase.ts
  src/firebase/auth.ts
  src/firebase/index.ts
  src/firebase/request.ts
  src/firebase/type.ts
  src/index.tsx
  src/store/auth/auth-actions.ts
Labels: database, firebase

#80 Banner 접근성 (Scroll 방지)
  src/components/Search/index.tsx
Labels: feature, component, refactor

#86 Redux로 Login , Modal state 관리하기
  src/components/Header/index.tsx
  src/components/Modal/SocialLogin.tsx
  src/components/ProfileIcon/index.tsx
  src/firebase/auth.ts
  src/store/auth/auth-actions.ts
  src/store/auth/auth-slice.ts
  src/store/index.ts
  src/store/modal/modal-slice.ts
Labels: feature, database, firebase

#87 가고싶다 같은 아이콘 버튼 분리
  src/components/BestRestaurantItem/bestRestaurantItem.styled.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/IconButton/iconButton.styled.tsx
  src/components/IconButton/index.tsx
  src/components/index.ts
Labels: component, style, markup

#91 [검색창] Modal의 추천 검색어 클릭시 Link 오류
  src/components/Search/SearchBox.styled.tsx
  src/components/Search/SearchKeyword.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
Labels: bug, problem

#93 a tag -> Link component
  src/components/BestRestaurantItem/bestRestaurantItem.styled.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/RestaurantItem/restaurant.styled.tsx
Labels: component, markup

#94 로그인 유무에 따른 프로필 사진 렌더링
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/ProfileIcon/index.tsx
Labels: feature, auth, markup

#96 review page add image file form
  src/components/Button/index.tsx
  src/components/ReviewWrite/index.tsx
  src/components/ReviewWrite/reviewWrite.styled.tsx
Labels: feature, style, markup

#105 스크롤길이에 따른 헤더 css 변경
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/styles/emotion.d.ts
  src/styles/theme.ts
Labels: feature, style

#106 feat: [Detail / Images] markup and styling
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/Reviews/Review.styled.tsx
  src/components/Reviews/Review.tsx
  src/pages/Restaurants/Images.tsx
  src/pages/Restaurants/index.tsx
Labels: style, markup

#109 create reviews page (insert DB)
  src/components/Button/index.tsx
  src/components/ReviewWrite/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
Labels: feature, database

#110 헤더에 search back modal 추가 & search 컴포넌트 redux로 상태관리
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/Modal/Modal.styled.tsx
  src/components/Portal/index.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/ProfileIcon/index.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
  src/store/modal/modal-slice.ts
Labels: feature, component, style, redux

#113 [검색창] DOM API 제거
  public/index.html
  src/components/Search/SearchBox.styled.tsx
  src/components/Search/SearchKeyword.styled.tsx
  src/components/Search/SearchKeyword.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
Labels: component, refactor, problem

#115 display:none a11yHidden으로 변경
  src/components/Filter/Kind/Kind.styled.tsx
  src/components/Filter/Kind/index.tsx
  src/components/Filter/Local/Local.styled.tsx
  src/components/Filter/Local/index.tsx
  src/components/Filter/Sort/Sort.styled.tsx
  src/components/Filter/Sort/index.tsx
  src/components/Search/SearchModal.tsx
  src/styles/global.tsx
Labels: style, problem

#118 restaurants page에서 쿼리를 이용한 데이터 사용
  src/components/BestRestaurantItem/index.tsx
  src/components/IconButton/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/Restaurants/index.tsx
  src/components/ReviewWrite/index.tsx
  src/firebase/request.ts
Labels: feature, component, database

#123 프로필 아이콘 스크롤창 & 개별 삭제 버튼
  src/components/Carousel/index.tsx
  src/components/Category/index.tsx
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/Restaurants/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
Labels: style, markup, firebase

#126 input box의 display 속성 변경
  src/components/Filter/Filter.styled.tsx
  src/components/Filter/Kind/index.tsx
  src/components/Filter/Local/Local.styled.tsx
  src/components/Filter/Local/index.tsx
  src/components/Filter/Sort/index.tsx
  src/components/Filter/index.tsx
  src/pages/SearchResult/index.tsx
  src/styles/a11yHidden.ts
  src/styles/global.tsx
Labels: style, problem

#127 [Firebase] 신규 사용자 로그인 시 user collection에 정보 추가
  src/components/Modal/Modal.styled.tsx
  src/components/Modal/SocialLogin.tsx
  src/firebase/request.ts
  src/firebase/type.ts
  src/store/auth/auth-actions.ts
Labels: auth, database, firebase

#129 routing and use DB data
  src/Router.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/BestRestaurants/index.tsx
  src/components/Carousel/carousel.styled.tsx
  src/components/Carousel/index.tsx
  src/components/Category/index.tsx
  src/components/CategoryItem/index.tsx
  src/components/IconButton/Star.tsx
  src/components/LinkCopyButton/linkCopyButton.styled.tsx
  src/components/RestaurantInfo/index.tsx
  src/components/Restaurants/index.tsx
  src/components/index.ts
  src/firebase/request.ts
  src/pages/Best5/index.tsx
Labels: feature, database

#135 [상세페이지 / 필터] 기능 구현
  src/components/Filter/Filter.styled.tsx
  src/components/Filter/Kind/Kind.styled.tsx
  src/components/Filter/Kind/index.tsx
  src/components/Filter/Local/Local.styled.tsx
  src/components/Filter/Local/index.tsx
  src/components/Filter/Sort/index.tsx
  src/components/Filter/index.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
  src/styles/theme.ts
Labels: feature, component

#136 use firebase storage image
  src/components/BestRestaurantItem/index.tsx
  src/components/BestRestaurants/index.tsx
  src/components/CategoryItem/index.tsx
  src/components/LinkCopyButton/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/Restaurants/index.tsx
  src/components/ReviewWrite/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
Labels: feature, database

#137 로그인한 사용자만 별(즐겨찾기) 클릭 가능하도록 구현
  src/components/BestRestaurantItem/index.tsx
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/ProfileIcon/List.tsx
  src/firebase/type.ts
  src/store/auth/auth-actions.ts
  src/store/index.ts
  src/store/user/user-slice.ts
Labels: feature, database

#140 feat: [Detail / Info] render fetched data from firestore
  README.md
  src/Router.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/index.tsx
  src/components/RestaurantInfo/RestaurantInfo.styled.tsx
  src/components/RestaurantInfo/index.tsx
  src/firebase/hooks/index.ts
  src/firebase/hooks/useFetch.ts
  src/firebase/request.ts
  src/pages/Restaurants/index.tsx
  src/store/modal/modal-slice.ts
Labels: feature, database, firebase

#141 음식점 및 카테고리 DB 이미지 사용
  src/components/Carousel/carousel.styled.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/RestaurantItem/restaurant.styled.tsx
  src/components/Restaurants/index.tsx
  src/components/ReviewWrite/index.tsx
  src/components/ReviewWrite/obj.tsx
  src/firebase/request.ts
  src/firebase/type.ts
Labels: feature, database, style, markup

#144 best restaurants page 링크 수정 및 데이터, 이미지 사용
  src/components/BestRestaurantItem/bestRestaurantItem.styled.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/BestRestaurants/index.tsx
  src/components/Carousel/carousel.styled.tsx
  src/components/Carousel/index.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/Restaurants/restaurants.styled.tsx
  src/components/style/index.tsx
  src/firebase/request.ts
  src/pages/Main/index.tsx
Labels: feature, database

#145 use Skeleton component
  package-lock.json
  package.json
  src/components/BestRestaurantItem/index.tsx
  src/components/BestRestaurants/index.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/RestaurantItem/restaurant.styled.tsx
Labels: feature, style

#147 최근 본 맛집 & 즐겨찾기 기능 구현
  src/components/BestRestaurantItem/index.tsx
  src/components/BestRestaurants/index.tsx
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/ProfileIcon/index.tsx
  src/components/RestaurantInfo/index.tsx
  src/firebase/request.ts
  src/pages/Restaurants/index.tsx
Labels: feature, database

#148 Link 태그로 변경 & modal dispatch 주석처리
  src/components/Header/index.tsx
  src/pages/Restaurants/index.tsx
Labels: refactor

#149 [검색창] input에 입력되는 데이터 redux로 변경 & firebase
  src/components/Search/SearchBox.styled.tsx
  src/components/Search/SearchKeyword.styled.tsx
  src/components/Search/SearchKeyword.tsx
  src/components/Search/SearchModal.styled.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
  src/firebase/api/searchkeyword.ts
  src/firebase/type.ts
  src/pages/Main/index.tsx
  src/pages/SearchResult/index.tsx
  src/store/index.ts
  src/store/searchkeyword/keyword-slice.ts
Labels: feature, component, firebase, redux

#153 refactor : #152 refactoring interface
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
Labels: refactor, firebase

#157 프로필 아이콘 버그 수정
  src/components/Header/index.tsx
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/ProfileIcon/index.tsx
Labels: bug, markup

#158 리뷰 페이지 기능
  src/Router.tsx
  src/components/Carousel/index.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/Restaurants/index.tsx
  src/components/ReviewWrite/index.tsx
  src/firebase/request.ts
Labels: feature, database

#161 [메인페이지 / 검색창 기능] firebase 데이터로 검색어 추천 렌더링
  src/components/Search/SearchKeyword.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
  src/firebase/api/searchkeyword.ts
  src/firebase/type.ts
  src/pages/Main/index.tsx
  src/store/searchkeyword/keyword-slice.ts
Labels: feature, firebase

#163 refac: modify image download data
  src/firebase/request.ts
Labels: database, refactor

#165 상세페이지 리뷰작성 & 즐겨찾기 기능 (로그인 유무에 따라)
  src/components/RestaurantInfo/index.tsx
Labels: feature, auth

#167 프로필 아이콘 li 이미지 렌더링
  package.json
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/ProfileIcon/index.tsx
  src/index.tsx
  src/store/index.ts
Labels: feature, style, firebase

#168 feat: [Detail] - fetch data and render text and images
  package-lock.json
  src/components/ProfileIcon/List.tsx
  src/components/RestaurantInfo/RestaurantInfo.styled.tsx
  src/components/RestaurantInfo/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/Reviews/Review.tsx
  src/firebase/hooks/useFetch.ts
  src/firebase/request.ts
  src/firebase/type.ts
  src/pages/Restaurants/Images.tsx
  src/pages/Restaurants/Restaurants.styled.tsx
  src/pages/Restaurants/index.tsx
  src/store/index.ts
  src/store/restaurants/restaurants-actions.ts
  src/store/restaurants/restaurants-slice.ts
  src/utils/index.ts
  src/utils/modifyMenuData.ts
Labels: refactor, firebase, redux

#170 [메인페이지 / 검색창] 최근 검색어 기능 구현(로컬스토리지)
  src/components/Filter/Local/Local.styled.tsx
  src/components/Search/SearchKeyword.tsx
  src/components/Search/SearchModal.styled.tsx
  src/components/Search/SearchModal.tsx
  src/components/Search/index.tsx
  src/components/index.ts
  src/firebase/api/searchkeyword.ts
  src/pages/Main/index.tsx
  src/utils/index.ts
  src/utils/keywordSaveToLocal.ts
Labels: feature, component, refactor

#171 맛집 리스트, 술집 리스트 페이지 랜더링
  src/Router.tsx
  src/components/BestRestaurants/index.tsx
  src/components/Carousel/index.tsx
  src/components/Category/index.tsx
  src/components/CategoryItem/category_item.styled.tsx
  src/components/CategoryItem/index.tsx
  src/components/Header/index.tsx
  src/components/ProfileIcon/index.tsx
  src/components/ReviewWrite/index.tsx
  src/components/style/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
  src/pages/MatjibList/index.tsx
  src/store/index.ts
Labels: feature, database, style

#176 리뷰 작성시 이미지문제
  src/components/BestRestaurantItem/index.tsx
  src/components/CategoryItem/index.tsx
  src/components/ProfileIcon/List.tsx
  src/components/RestaurantItem/index.tsx
  src/components/RestaurantItem/restaurant.styled.tsx
  src/components/Restaurants/index.tsx
  src/components/ReviewWrite/index.tsx
  src/firebase/request.ts
  src/store/restaurants/restaurants-actions.ts
Labels: feature, database, style

#177 [검색결과페이지 / 필터] 필터에서 선택한 조건대로 필터링 처리
  src/components/Filter/Local/index.tsx
  src/components/Filter/index.tsx
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/index.tsx
  src/components/Search/SearchKeyword.tsx
  src/firebase/api/searchkeyword.ts
  src/firebase/type.ts
  src/pages/SearchResult/index.tsx
  src/pages/SearchResult/searchResult.styled.tsx
Labels: feature, component, firebase

#179 [검색결과페이지 / 검색] 동일한 쿼리문으로 인한 동작 오류
  src/components/Filter/Filter.styled.tsx
  src/components/Filter/index.tsx
  src/firebase/api/searchkeyword.ts
  src/pages/SearchResult/index.tsx
  src/pages/SearchResult/searchResult.styled.tsx
Labels: bug, firebase, problem

#183 [헤더] 헤더 컴포넌트의 input 검색창 컴포넌트로 대체
  src/components/Banner/Banner.styled.tsx
  src/components/Banner/index.tsx
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/Search/SearchBox.styled.tsx
Labels: feature, component, style

#184 즐겨찾기 on/off에 따른 DB의 post star 카운팅
  src/components/BestRestaurantItem/index.tsx
  src/components/Header/Header.styled.tsx
  src/components/Header/index.tsx
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/index.tsx
  src/components/RestaurantInfo/index.tsx
  src/firebase/request.ts
Labels: feature, database, firebase

#185 feat: make banner-background div tag for Modal
  public/index.html
  src/components/Header/index.tsx
  src/components/Modal/Modal.styled.tsx
  src/components/Portal/index.tsx
  src/components/ProfileIcon/ProfileIcon.styled.tsx
  src/components/Search/SearchBox.styled.tsx
  src/components/index.ts
Labels: bug, problem

#187 [검색창] Header 컴포넌트에서 z-index 문제
  src/components/Header/Header.styled.tsx
  src/components/Search/SearchKeyword.tsx
  src/pages/SearchResult/index.tsx
  src/pages/SearchResult/searchResult.styled.tsx
Labels: feature, component, problem

#188 feat: get review data from firestore and transform data
  src/components/ReviewWrite/ReviewScore.tsx
  src/components/Reviews/Review.styled.tsx
  src/components/Reviews/Review.tsx
  src/components/Reviews/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
  src/pages/Restaurants/Images.tsx
  src/pages/Restaurants/index.tsx
  src/store/restaurants/restaurants-actions.ts
Labels: component, style, markup, firebase, redux, problem

#190 페이지 이동 시 스크롤 위치 초기화
  src/components/BestRestaurantItem/index.tsx
  src/components/CategoryItem/index.tsx
  src/components/Header/Header.styled.tsx
  src/components/Map/index.tsx
  src/components/Modal/SocialLogin.tsx
  src/components/ProfileIcon/index.tsx
  src/components/RestaurantItem/index.tsx
  src/components/Search/SearchBox.styled.tsx
  src/components/Search/index.tsx
Labels: bug

#193 로그인 시 이름, 프로필사진URL db에 저장
  src/components/ProfileIcon/List.tsx
  src/firebase/request.ts
  src/firebase/type.ts
  src/store/auth/auth-actions.ts
  src/store/modal/modal-slice.ts
Labels: auth, database, firebase

#191 [검색결과페이지 / 필터] 비동기 처리 이전에 NoDisplay가 렌더링 되는 문제
  src/components/Header/Header.styled.tsx
  src/pages/SearchResult/index.tsx
Labels: bug, component

#194 feat: detail page get local popular restaurant and render
  src/components/LocalPopulars/LocalPopular.styled.tsx
  src/components/LocalPopulars/LocalPopular.tsx
  src/components/LocalPopulars/index.tsx
  src/components/SurroundPopulars/SurroundPopular.tsx
  src/components/SurroundPopulars/index.tsx
  src/components/index.ts
  src/firebase/request.ts
  src/firebase/type.ts
  src/pages/Restaurants/index.tsx
  src/store/restaurants/restaurants-actions.ts
  src/styles/global.tsx
Labels: feature, component

#195 [검색 결과 페이지] 필터 접근성 개선
  src/components/Filter/Kind/index.tsx
  src/components/Filter/Local/index.tsx
  src/components/Filter/Sort/index.tsx
  src/components/Filter/index.tsx
  src/components/LocalPopulars/index.tsx
  src/firebase/api/searchkeyword.ts
  src/pages/SearchResult/index.tsx
  src/pages/SearchResult/searchResult.styled.tsx
Labels: bug, feature, component

#197 feat : #196 add post views update api & rendering postInfo
  src/components/RestaurantInfo/RestaurantInfo.styled.tsx
  src/components/RestaurantInfo/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
  src/pages/Restaurants/index.tsx
Labels: database, firebase

#200 fix : resolve rendering img bug
  src/components/ProfileIcon/List.tsx
  src/components/ProfileIcon/index.tsx
Labels: bug, hotfix

#202 리뷰 수정 기능
  src/Router.tsx
  src/components/ReviewWrite/index.tsx
  src/components/Reviews/Review.styled.tsx
  src/components/Reviews/Review.tsx
  src/components/Reviews/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
  src/pages/Restaurants/Images.tsx
  src/store/restaurants/restaurants-actions.ts
  src/store/restaurants/restaurants-slice.ts
Labels: feature, database

#205 feat: SEO optimization
  package-lock.json
  package.json
  public/index.html
  public/logo.png
  src/Router.tsx
  src/components/BestRestaurantItem/index.tsx
  src/components/Filter/Local/index.tsx
  src/components/Filter/index.tsx
  src/components/LocalPopulars/index.tsx
  src/components/Restaurants/index.tsx
  src/components/Search/index.tsx
  src/components/index.ts
  src/index.tsx
  src/pages/Best5/index.tsx
  src/pages/BestRestaurants/index.tsx
  src/pages/Main/index.tsx
  src/pages/MatjibList/index.tsx
  src/pages/Restaurants/index.tsx
  src/pages/ReviewWritePage/index.tsx
  src/pages/SearchResult/index.tsx
  src/pages/index.ts
  src/store/auth/auth-actions.ts
  src/utils/index.ts
  src/utils/setDocumentTitle.ts
Labels: refactor, configuration

#206 [성능개선] React.memo로 렌더링 성능 개선, z-index 동적 설정
  src/components/Filter/Kind/index.tsx
  src/components/Filter/Local/index.tsx
  src/components/Filter/Sort/index.tsx
  src/components/Filter/index.tsx
  src/components/Header/Header.styled.tsx
  src/components/Search/SearchBox.styled.tsx
  src/components/Search/index.tsx
  src/pages/Main/index.tsx
  src/pages/SearchResult/index.tsx
Labels: bug, refactor

#207 feat: render user profile image and name
  src/components/Reviews/Review.tsx
  src/components/Reviews/index.tsx
  src/firebase/request.ts
  src/firebase/type.ts
Labels: feature
